* {
    /* border: 1px solid black; */
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}
#productos {
    display: none;
}
#container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
#content {
    display: flex;
    flex-direction: row;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    align-items: center;
    background-color: white;
}
input.header-busqueda {
    height: 10px;
    width: 450px;
    margin-left: 18px;
    padding: 19px;
    border-radius: 8px;
    border: 1px solid lightgray;
    background: #fff
        url(https://cdn.pccomponentes.com/img/css/lupa-buscador-black.png) 98%
        no-repeat;
}
.boton-mostrar-carrito {
    background-color: white;
    border: none;
    font-size: 1.3em;
    padding: 20px;
    flex-shrink: 0;
    /* margin-top: 15px;
  margin-bottom: 15px; */

    font-weight: lighter;
    height: 100%;
}
.boton-mostrar-carrito:hover {
    background-color: black;
    color: white;
}
.boton-mostrar-carrito:focus {
    outline: none;
}
.titulo-header {
    height: 60px;
    flex-shrink: 0;
    margin-left: 15px;

    color: rgb(105, 105, 105);
}
#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
}
.carta-producto {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    margin: 8px;
    padding: 8px;
    flex-basis: 18%;
}
.carta-producto:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
.detalles-producto {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.precio-producto {
    font-weight: bold;
}
.titulo-producto {
    margin-top: 15px;
    margin-bottom: 15px;
}
.carrito {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 8px;
    /* border-left: 3px solid lightgray; */
    width: 350px;
    flex-shrink: 0;
    box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.23);
    position: -webkit-sticky;
    position: fixed;
    right: 0%;
    background-color: white;
    transition: all 400ms ease;
}

.carrito-escondido {
    right: -80%;
}
.escondido {
    display: none;
}
.boton-add-carrito {
    border: none;
    flex-shrink: 0;
    /* margin-top: 15px;
  margin-bottom: 15px; */
    background-color: black;
    color: white;
    font-weight: bold;
    height: 100%;
    padding: 5px;
    border-radius: 3px;
    outline: none;
}
#header-carrito {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    align-items: center;
    color: #333;
    margin-left: 5px;
    margin-right: 5px;
}
.producto-carrito {
    display: flex;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    flex-shrink: 0;
}
.producto-carrito:hover {
    box-shadow: 0 0 2pt 2pt lightgray;
}
.detalles-producto-carrito {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    flex-shrink: 0;
    align-items: center;
}

.eliminar-cantidad {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.cantidad-producto-carrito {
    width: 15%;
    margin-left: 5px;
    height: 80%;
}
.boton-eliminar-carrito {
    border: none;
    flex-shrink: 0;
    background-color: black;
    color: white;
    font-weight: bolder;
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    margin-left: 3px;
}
#form-realizar-pedido {
    display: flex;
    justify-content: center;
}
.imagen-producto-carrito {
    height: 80px;
}
.imagen-producto {
    height: 200px;
    border-radius: 15px;
}
.info-carrito {
    display: flex;
    flex-direction: column;
}
.info-carrito-total {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.info-carrito-boton {
    margin: 15px;
    height: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    outline: none;
}

.fixed-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

@media (max-width: 600px) {
    #content {
        flex-direction: column-reverse;

        align-items: center;
    }
    .titulo-header {
        height: 35px;
    }
    .boton-mostrar-carrito {
        font-size: 1em;
    }
    .producto-carrito {
        justify-content: center;
    }
    .carrito {
        width: auto;
    }
    .carrito-escondido {
        display: none;
    }
    /* .header-busqueda {
        align-self: flex-end;
    } */
    .header {
        flex-direction: column;
    }
    #productos {
        max-width: 100%;
    }
    .carrito-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 115px;
        background-color: white;
    }
}
@media (max-width: 1500px) {
    #productos {
        max-width: 68%;
    }
}
@media (max-width: 970px) {
    #productos {
        max-width: 68%;
    }
}
